
.program_list {
    display: inline-block;
    margin-top: 10px;
}

.program_list a{
    margin-right:50px;
}

.program_list a:first-child{
    margin-left: 50px;
}

.program_list a:last-child{
    margin-right: 0;
}

.skill {
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
    min-width: 140px;
}